In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/boot/amis.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'speed', 'period', 'warning', 'pair'], dtype='object')

In [4]:
df.count()

Unnamed: 0    8437
speed         8437
period        8437
warning       8437
pair          8437
dtype: int64

In [5]:
df.head(20)

    Unnamed: 0  speed  period  warning  pair
0            1     26       1        1     1
1            2     26       1        1     1
2            3     26       1        1     1
3            4     26       1        1     1
4            5     27       1        1     1
5            6     28       1        1     1
6            7     28       1        1     1
7            8     28       1        1     1
8            9     28       1        1     1
9           10     29       1        1     1
10          11     29       1        1     1
11          12     29       1        1     1
12          13     29       1        1     1
13          14     29       1        1     1
14          15     29       1        1     1
15          16     29       1        1     1
16          17     29       1        1     1
17          18     30       1        1     1
18          19     30       1        1     1
19          20     30       1        1     1

In [6]:
# df['speed'] = pd.to_numeric(df['speed'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8437 entries, 0 to 8436
Data columns (total 5 columns):
Unnamed: 0    8437 non-null int64
speed         8437 non-null int64
period        8437 non-null int64
warning       8437 non-null int64
pair          8437 non-null int64
dtypes: int64(5)
memory usage: 329.6 KB

In [8]:
df['speed'].sum()

319123